
<main>
 <div class="about-us">
  <div class="about-us-h2" id="link-faq"><h2>FAQ</h2></div>
  <p><br><i>Is it possible to see the price curve of Etherium and Litecoin in the last 15 minutes?</i></p>
  <p><br>Yes, just click on the desired cryptocurrency in the table!</p>
  <p><br><i>When are the prices updated?</i></p>
  <p><br>Prices are updated every 10 seconds, subject to availability of the various free APIs of Coinbase, Binance and Kraken.</p>
  <p><br><i>What about fees?</i></p>
  <p><br>For the various fees associated with buying crypto-currencies, please refer to the fees pages of the three listed exchanges: 
    <br><br>
    <li>Coinbase:  
        <a rel="noreferrer" target="_blank" href="https://help.coinbase.com/en/coinbase/trading-and-funding/pricing-and-fees/fees">
            https://help.coinbase.com/en/coinbase/trading-and-funding/pricing-and-fees/fees
        </a><br>
    </li>
    <li>Binance: 
        <a rel="noreferrer" target="_blank" href="https://www.binance.com/en/fee/cryptoFee">
            https://www.binance.com/en/fee/cryptoFee
        </a><br>
    </li>
    <li>Kraken: 
        <a rel="noreferrer" target="_blank" href="https://www.kraken.com/features/fee-schedule">
            https://www.kraken.com/features/fee-schedule
        </a>
    </li>
    <br></p>
  
 </div>
</main>
  