
<main>
 <div class="about-us">
  <div class="about-us-h2" id="link-about-us"><h2>About us</h2></div>
  <p ><br>Welcome to our website! We are two Big Data and AI student with interests for this project in Angular, cryptocurrencies, and APIs. Our goal is to create a user experience that meet specific needs, drawing on our love of technology and innovation.</p>
  <p><br>As an example of our work, we created this website in just a few days, despite having no prior experience with Angular. Our passion for programming and quick learning abilities allowed us to complete the project successfully.</p>
  <p><br>We believe that the key to success lies in a combination of determination and adaptability. We understand that effective design is not just about aesthetics, but also about intuitive interfaces that enable users to achieve their objectives with ease. </p>
  <p><br>At our core, we are problem-solvers who are committed to delivering high-quality work on time and within budget. We value transparency and open communication. Don't hesitate to contact us.</p>
  <p><br>Thank you for considering us for your next project. We look forward to working with you!</p>
  <p style="text-align: right;"><br><i>Clément Marie-Brisson & Pierre Brunier</i><br><br></p>
 </div>
 
</main>
  