<main>
    <div class="header">
        <div class="sides">
          <a href="#crypto-prices" class="logo">CRYPTO COIN SCANNER</a>
        </div>
        <div class="sides"> <a href="#" class="menu"> </a></div>
        <div class="info">
          <h1>CRYPTO COIN SCANNER</h1>
          <br><br><br>
          <p>Crypto Coin Scanner is a website that allows crypto enthusiasts to quickly and easily compare the prices of various cryptocurrencies across multiple exchanges. With real-time data from top exchanges like Binance, Coinbase, and Kraken, users can stay up-to-date on the latest market trends and make informed decisions about their crypto investments. The website's user-friendly interface and intuitive design make it easy to navigate and find the information you need, whether you're a seasoned trader or just getting started in the world of crypto. With Crypto Coin Scanner, you can stay ahead of the game and make smarter investments in the fast-paced and ever-changing world of cryptocurrency.</p>
          <br><br><br>
          <div class="meta">
            <a  href="https://github.com/PierreBrunier/crypto-coin-scanner" target="_b" class="github"></a><br>
            <a href="https://github.com/PierreBrunier/crypto-coin-scanner" target="_b">Github Project</a>
          </div>
        </div>
    </div>
    <div id="crypto-prices">
      <app-crypto-prices></app-crypto-prices>
    </div>

    <div class="about-us">
      <div class="about-us-h2"><h2>About us</h2></div>
      <p>Welcome to our website! We are 2 Big Data and AI student with interests in Angular, cryptocurrencies, and APIs. Our passion for technology and innovation drives us to create exceptional user experiences that meet our clients' needs.</p>

      <p>We are is dedicated to staying on top of the latest industry trends and best practices to ensure that we deliver cutting-edge solutions that exceed our clients' expectations. Whether you're a startup, a small business, or a large enterprise, we have the skills and expertise to help you achieve your goals.</p>
    
      <p>We believe that great design is about more than just aesthetics - it's about creating intuitive, user-friendly interfaces that make it easy for users to accomplish their goals. That's why we work closely with our clients to understand their needs and develop solutions that are tailored to their unique requirements.</p>
      <p>At our core, we are problem-solvers who are committed to delivering high-quality work on time and within budget. We value transparency and open communication, and we strive to build long-lasting relationships with our clients based on trust and mutual respect.</p>
      <p>Thank you for considering us for your next project. We look forward to working with you!</p>
    </div>
    <footer class="footer">
      <div class="container">
       <div class="row">
         <div class="footer-col">
           <h4>Crypto Coin Scanner</h4>
           <ul>
             <li><a href="#">about us</a></li>
           </ul>
         </div>
         <div class="footer-col">
           <h4>get help</h4>
           <ul>
             <li><a href="#">FAQ</a></li>
             <li><a href="get-help/contact.html">Contact</a></li>
           </ul>
         </div>
         <div class="footer-col">
           <h4>Exchanges</h4>
           <ul>
             <li><a href="https://www.coinbase.com/" target="_blank">Coinbase</a></li>
             <li><a href="https://www.binance.com/" target="_blank">Binance</a></li>
             <li><a href="https://www.kraken.com/" target="_blank">Kraken</a></li>
           </ul>
         </div>
         <div class="footer-col">
           <h4>follow us</h4>
           <div class="social-links">
             <a href="https://github.com/PierreBrunier/" target="_blank"><i class="fab-fa-github-Pierre">
              <img
                  class="main-footer__icon"
                  src="assets/github_pierre.png"
                  alt="icon"
                />
             </i></a>
             <a href="https://github.com/clementmariebrisson/" target="_blank"><i class="fab-fa-github-Clement">
              <img
                  class="main-footer__icon"
                  src="assets/github_clement.png"
                  alt="icon"
                />
             </i></a>
             <a href="https://www.linkedin.com/in/pierre-brunier/" target="_blank"><i class="fab-fa-linkedin-Pierre">
              <img
                  class="main-footer__icon"
                  src="https://media.licdn.com/dms/image/C5603AQGrw5RhG3h89A/profile-displayphoto-shrink_400_400/0/1555777684691?e=1685577600&v=beta&t=LkrJ8maer4fkM9nwU1N01etRXmQG_t-3QNZ6PRTmld8"
                  alt="icon"
                />
             </i></a>
             <a href="https://www.linkedin.com/in/clement-marie-brisson/" target="_blank"><i class="fab-fa-linkedin-Clement">
              <img
                  class="main-footer__icon"
                  src="https://media.licdn.com/dms/image/D4E03AQGq8oo71bq_WQ/profile-displayphoto-shrink_400_400/0/1675077533926?e=1685577600&v=beta&t=YpW7gpvUhqh55oE1mONUK38T_GIM0SJYx16N-yZHzyU"
                  alt="icon"
                />
             </i></a>
           </div>
         </div>
       </div>
      </div>
      <div class="main-footer__lower">
        &copy; Copyright 2023. Made by
        <a rel="noreferrer" target="_blank" href="https://github.com/TeamCroque"
          >Team Croque members</a
        >
      </div>
   </footer>
</main>