@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
Space Mono
Russo One

html,body{
  margin:0;
  height:120%;
  font-family: 'Muli', sans-serif;

}
a{
  text-decoration:none
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:40vw;
  min-height:700px;
  max-height:1000px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    transform: translateZ(0);
  background:#1B2030 url(../assets/bitcoin-1813503.jpg) 50% 0 ;
  background-size: 100%;
  background-attachment:fixed;
  animation: grow 360s  linear 5ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header h1{
  color: #de980b;
}
.header a{
  color:#eee
}
.menu{
  display:block;
  width:40px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  font-family: 'Muli', sans-serif;

  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding-top:15% 10% 0 10%;
  text-align:center;
  font-family: 'Muli', sans-serif;

  text-shadow:0 5px 5px rgba(0,0,0,0.2)
}
.github{
  display:inline-block;

  width:50px;
  height:50px;
  border-radius:50%; 
  background:url(../assets/github_PNG80.png) center no-repeat;
  background-size:cover;
  box-shadow:0 5px 5px rgba(0,0,0,0.3);
  margin-top:3%;
}
.info h4, .meta{
  font-size:0.7em
}

.info h1{
  font-size:4em;
}
.info p{
  text-align:justify;
  font-size:1.1em;
  width: 80%;
  display:inline-block ;
}
.meta{
  font-style:italic;
  align-content:center;
  
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}

/*ABOUT US*/
.about-us{
  font-family: 'Muli', sans-serif;
  margin-bottom: 20px;

}
.about-us-h2{
  content:"";
  width:100%;
  height:40px;
  position:relative;
  justify-content: center;
  margin-bottom: 20px;
  
  background:#000000;
  background-size: 10%;
  background-attachment:fixed;
  
}
.about-us-h2 h2{
  color: #ffffff;
  margin-left: 45%;
  font-size: 1.6em;
}
.about-us p{
  text-align:justify;
  font-size:1.1em;
  width: 80%;
  margin-left: 10%;
  display:inline-block ;
}

/*FOOTER*/
.footer{
  line-height: 1.5;
  font-family: 'Muli', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #de980b;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.main-footer__icon{
  display:inline-block;
  width:40px;
  height:40px;
  border-radius:50%; 
  background-size:cover;
  box-shadow:0 5px 5px rgba(0,0,0,0.3);
  margin:0 10px 10px 0;

}


.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.main-footer__lower {
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #444;
  color: #eee;
  font-size: 0.7rem;
  text-align: left;
  text-align: center; }
  .main-footer__lower a {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 2px; 
    color: #0892cd; /* set the link color */
  }
  .main-footer__lower a:visited {
    color: #0892cd; /* set the visited link color */
  }
  @media only screen and (max-width: 56.25em) {
    .main-footer__lower {
      padding: 3.5rem 0; } }

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

input[type="email"] {
  width: 500px;
}

textarea {
  width: 100%;
  height: 200px;
}

    /* Styles pour le bouton hamburger */
    .menu {
      display: block;
      width: 30px;
      height: 30px;
      background: url('https://cdn-icons-png.flaticon.com/512/56/56822.png') no-repeat center center;
      background-size: contain;
      cursor: pointer;
    }

    /* Styles pour le menu déroulant */
    .menu-list {
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      padding: 0;
      margin: 0;
      background: #444;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      list-style: none;
    }

    /* Styles pour les éléments de menu */
    .menu-item {
      position: relative;
      padding: 10px 15px;
      cursor: pointer;
      font-family: 'Muli', sans-serif;
      text-align:center;
    }

    .menu-item:hover {
      text-decoration: underline orange;
      text-underline-offset: 0.3em;
      /*text-underline-width: 3px;*/
    }
    
    
    
    
    
    


