<main>
    <div class="header">
        <div class="sides">
          <a href="#" class="logo">CRYPTO COIN SCANNER</a>
        </div>
        <div class="sides"> <a href="#" class="menu"> </a></div>
        <div class="info">
          <h1>CRYPTO COIN SCANNER</h1>
          <p>Crypto Coin Scanner is a website that allows crypto enthusiasts to quickly and easily compare the prices of various cryptocurrencies across multiple exchanges. With real-time data from top exchanges like Binance, Coinbase, and Kraken, users can stay up-to-date on the latest market trends and make informed decisions about their crypto investments. The website's user-friendly interface and intuitive design make it easy to navigate and find the information you need, whether you're a seasoned trader or just getting started in the world of crypto. With Crypto Coin Scanner, you can stay ahead of the game and make smarter investments in the fast-paced and ever-changing world of cryptocurrency.</p>
          <br><br><br>
          <div class="meta">
            <a  href="https://github.com/PierreBrunier/crypto-coin-scanner" target="_b" class="github"></a><br>
            <a href="https://github.com/PierreBrunier/crypto-coin-scanner" target="_b">Github Project</a>
          </div>
        </div>
    </div>
    <app-crypto-prices></app-crypto-prices>
</main>