<table>
    <thead>
      <tr>
        <th>Crypto</th>
        <th>Coinbase</th>
        <th>Binance</th>
        <th>Kraken</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="assets/Bitcoin.svg.png" alt="logo Bitcoin" style="width: 15px;" > Bitcoin 
        </td>
        <td>{{ bitcoinCoinbase }}</td>
        <td>{{ bitcoinBinance }}</td>
        <td>{{ bitcoinKraken }}</td>
      </tr>
      <tr>
        <td>
          <img src="assets/Ethereum.svg.png" alt="logo Ethereum" style="width: 11px;" > Ethereum
        </td>
        <td>{{ ethereumCoinbase }}</td>
        <td>{{ ethereumBinance }}</td>
        <td>{{ ethereumKraken }}</td>
      </tr>
      <tr>
        <td>
          <img src="assets/Litecoin.png" alt="logo Litecoin" style="width: 14px;" > Litecoin
        </td>
        <td>{{ litecoinCoinbase }}</td>
        <td>{{ litecoinBinance }}</td>
        <td>{{ litecoinKraken }}</td>
      </tr>
    </tbody>
  </table>

  <div id= "plot"></div>

  