<table>
    <thead>
      <tr>
        <th>Crypto</th>
        <th>Coinbase</th>
        <th>Binance</th>
        <th>Kraken</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bitcoin</td>
        <td>{{ bitcoinCoinbase }}</td>
        <td>{{ bitcoinBinance }}</td>
        <td>{{ bitcoinKraken }}</td>
      </tr>
      <tr>
        <td>Ethereum</td>
        <td>{{ ethereumCoinbase }}</td>
        <td>{{ ethereumBinance }}</td>
        <td>{{ ethereumKraken }}</td>
      </tr>
      <tr>
        <td>Litecoin</td>
        <td>{{ litecoinCoinbase }}</td>
        <td>{{ litecoinBinance }}</td>
        <td>{{ litecoinKraken }}</td>
      </tr>
    </tbody>
  </table>
  